@model KvikChik.Models.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
    <div class="card-header">
        <h1>Авторизация</h1>
    </div>
    <div class="card-body">
        <form asp-controller="Account" asp-action="Login" method="post">
            <div class="mb-3">
                <label asp-for="Email" class="form-label">Email</label>
                <input asp-for="Email" class="form-control">
            </div>
            <div class="mb-3">
                <label asp-for="Password" class="form-label">Пароль</label>
                <input asp-for="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Войти</button>
        </form>
    </div>
</div>
