@model KvikChik.Models.ViewModels.ShopCartViewModel


<p>Это ваша Корзина</p>

<div class="container">

    @foreach (var el in Model.ShopCartRepository.listShopItems)
    {
        <div class ="alert alert-warning mt-3">
            <b>@el.food.Name</b>

        </div>

    }

    <a class="btn btn-dark" asp-controller="Home" asp-action="Index">
        К меню
    </a>

    <a class="btn btn-dark" asp-controller="Order" asp-action="Checkout">
        Оплатить
    </a>
</div>