@model KvikChik.Models.ViewModels.FoodViewModel
@{
    ViewData["Name"] = "Добавление нового блюда";
    ViewData["Description"] = "Добавление нового блюда";
    ViewData["Size"] = "Добавление нового блюда";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
    <div class="card-header">
        <h1>Редактирование жанра</h1>
    </div>
    <div class="card-body">
        <form asp-controller="AdminFood" asp-action="Update" method="post">
            <input type="hidden" asp-for="Id" />
            <div class="mb-3">
                <label asp-for="Name" class="form-label">Название</label>
                <input type="text" class="form-control" asp-for="Name">

                <label asp-for="Description" class="form-label">Название</label>
                <input type="text" class="form-control" asp-for="Description">

                <label asp-for="Size" class="form-label">Название</label>
                <input type="text" class="form-control" asp-for="Size">
            </div>
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </form>
    </div>
</div>